
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
  font-family: latoBlack;
  src: url(../fonts/lato_black.ttf);
}

@font-face {
  font-family: latoRegular;
  src: url(../fonts/lato_regular.ttf);
}

@font-face {
  font-family: latoBold;
  src: url(../fonts/lato_bold.ttf);
}

@font-face {
  font-family: latoLight;
  src: url(../fonts/lato_light.ttf);
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'sidenav';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.uppercase {
  text-transform: uppercase;
}

.transparent-except-color {
  background-color: rgba(255,255,255, 0);
  border-color: rgba(255,255,255,0);
}

.c-black {
  color: #000000;
}

.nlp {
  padding-left:0px;
}

.input-btn {
  display:inline-block;
  font-size:16px;
  z-index:1;
  cursor: pointer;
  border-color: black;
  color:black;
}

.upload-input {
  position:relative;
  display:none;
  width: 100%;
  text-align:right;
  -moz-opacity: 0;
  opacity: 0;
  z-index:2;
}

.pink-button-lg, .pink-button-lg:hover {
  background-color: #f0386b;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  padding: 0.5em 5em;
  border-radius: 5em;
  font-weight: bold;
}

.select-btn {
  border: 1px solid black;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  width:100%;
}

.select-btn.selected {
  background-color: black;
  color:white;
}

ul.three-cols {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  list-style-type: none;
}

ul.three-cols a {
  text-decoration: none;
  transition: all 0.5s;
}

ul.three-cols a:hover {
  background-color: #3490dc;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  margin-top: 3%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-trigger {
  cursor: pointer;
  transition: all 0.5s;
}

.main-image-overlay {
  position: absolute;
  z-index:2;
  cursor:pointer;
  background-color: rgba(0,0,0,0.5);
  display:flex;
  justify-content: center;;
  align-items: center;
  color: white;
  font-size: 3rem;
}

.btn-pink {
  background-color: #f0386b;
}

.btn-round-1 {
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0 11px;
}

.menu-span-1 {
  font-family: latoRegular;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 1rem;
  font-size: 16px;
  color:#333333;
  text-align: right;
}

.new_illustraion_div {
  cursor:pointer;
  transition: all 0.2s;
  padding: 0.5rem;
  border-radius: 10px;
}

.new_illustraion_div:hover {
  background-color: #fff;
}

.light-height-1 {
  font-family: latoLight;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 31px;
  letter-spacing: 0.94px;
  color: #333333;
}

.orders-tabs {
  font-family: 'Helvetica', sans-serif;
  font-size:18px;
  border-bottom: 2px solid #444444;
}

.orders-tabs a {
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  border:0 !important;
  font-size:18px;
  letter-spacing: 0.5px;
  color:#5d5d5d;
  transition: all 0.2s;
}

.orders-tabs a.active {
  color: #444444;
  border-bottom: 5px solid #f0386b !important;
}

.pl90 {
  padding-left:90px;
}

.col-2-filler {
  flex: 0 0 6.99%;
  max-width: 6.99%;
}

.order-row {
  background-color: #ffffff;
  border-bottom: 1px inset lightgrey;
  border-right: 1px inset lightgrey;
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  color: #5c5c5c;
  transition: all 0.2s;
  width: 100%;
  margin:auto;
}

.order-row:hover {
  border-bottom: 2px inset lightgrey;
  border-right: 2px inset lightgrey;
  box-shadow: 0.2em 0.1em lightgrey;
  background-color: #fefefe;
  font-size: 15px;
  color: #2a2a2a;
}

.order-row div {
  display:flex;
  align-items: center;
}

.t-header {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: oblique;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #343434;
}

.orders-tabs {
  margin-bottom: 1em;
}

.orders-tabs a {
  width: 10em;
}

.orders-sm {
  background-color: #ffffff;
  border-bottom: 1px inset lightgrey;
  border-right: 1px inset lightgrey;
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  color: #5c5c5c;
  transition: all 0.2s;
  width: 100%;
  margin:auto;
}

.orders-sm:hover {
  border-bottom: 2px inset lightgrey;
  border-right: 2px inset lightgrey;
  box-shadow: 0.2em 0.1em lightgrey;
  background-color: #fefefe;
  font-size: 15px;
  color: #2a2a2a;
}

.orders-sm .col-9 > .row {
  margin: 0.5% 0;
}
